@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author:   Prabh
   Date:     
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/




/* Hidden Objects */
@media print{
nav,footer,article{
 display: none;
}
section#sheet{
    size: 6in;
    margin : 0 auto 0 auto;
}

img.panel.size1{
    width: 5in;
}
img.panel.size2{
    width: 3in;
}
img.panel.size3{
    width: 2in;
}
img.panel.size4{
    width: 1.5in;
}
}






/* Comic Book Sheet Styles */






	





